{% extends 'base.html'%}
{% block content %}
        <div class="col-6 mx-auto">
          <div class="text-center mt-5">
            <img src="https://images.pexels.com/photos/312418/pexels-photo-312418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid img-responsive" style="height:200px">

          </div>
            <form method="post">
              {% csrf_token %}
                <div class="mb-3">
                    <label for="n" class="form-label">Enter Name</label>
                    <input type="text" name="name" class="form-control" id="n"/>
                </div>
                <div class="mb-3">
                    <label for="a" class="form-label">Amount</label>
                    <input type="number" name="amount" class="form-control" id="a"/>
                </div>
                <button type="submit" class="btn btn-success mx-auto">Submit</button>
            </form>
        </div>


{% if payment %}
<div class="text-center mx-auto">
<form action="/success/" method="post">
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_MNYcVHDelhc8O9"
    data-amount="{{payment.amount}}"
    data-currency="INR"
    data-order_id="{{payment.id}}"
    data-name="Coffee Corp"
    data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
    data-image="https://example.com/your_logo.jpg"
    data-prefill.name="Gaurav Kumar"
    data-prefill.email="gaurav.kumar@example.com"
    data-theme.color="#F37254"
></script>
<input type="hidden" custom="Hidden Element" name="hidden"/>

</form>

{% endif %}
</div>
{% endblock %}